<h1>投稿一覧</h1>
<p>Find me in app/views/tweets/index.html.erb</p>

<div class="row">
  <div class="col-xs-3">
    <h2>プロフィール</h2>
    <h2>新規投稿</h2>
      <%= render 'tweets/tweet_form', tweet: @tweet %>
  </div>
  <div class="col-xs-9">
    <h2>投稿一覧</h2>
  </div>
</div>
