<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2 class="text-center">本当に退会しますか？</h2>
      <p class="text-center">
        退会すると、会員登録情報や<br>
        これまでの投稿履歴やコメントが閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <div>
        <% if user_signed_in? && @user.id == current_user.id %>
          <%=link_to "退会する", quit_users_path(current_user), method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger" %>
          <%=link_to "やっぱり退会しない", user_path(@user), class:"btn btn-info" %>
        <% end %>
      </div>
  </div>
</div>
