<div class="row">
  <div class="col-xs-3">
    <h2>新規投稿</h2>
      <%= render 'tweets/tweet_form', tweet: @tweet %>
    <h2>プロフィール</h2>
    <!--プロフィール追加する-->
  </div>
  <div class="col-xs-9">
    <h2>投稿詳細</h2>
  </div>
</div>

