/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

header {
    height: 90px;
}

.nav > li > a {
    padding: 5px, 0;
    margin: 20px;
}

.navbar-default {
    background-color: #cee4ae;
    border-color: #FFFFFF;
}

.container-fluid {
    background-color: #f2ffe5;
}

.navbar-default .navbar-nav > a {
    color: #000;
    font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar-default .navbar-nav > a:hover{
    color: #b4866b;
}
 
.navbar-default .navbar-nav > li > a {
    color: #b4866b;
    font-weight: bolder;
    border-left: 1px solid;
    border-color: #c0c0c0;
}

.navbar-left {
    margin: 20px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Hiragino Maru Gothic ProN W4;
}

#footer {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin-top: auto;
}

.row {
    margin: 20px;
}

.titlebar {
    color: #513743;
    border-bottom: 2px dotted;
    border-color: #808080;
}
