/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-image: image-url("top-picture.jpg");
    background-color: rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: 100%, 100%;
    min-height: 100vh;
    position: relative;
}

// deviseサクセスメッセージ ここから
.alert {
  margin-top: 7px;
}

p.alert.alert-notice {
  background-color: #d4edda;
  color: #155724;
  text-align: center;
  border: 1px solid transparent;
  border-color: #c3e6cb;
  border-radius: 0.25rem;
}

p.alert.alert-alert {
  background-color: #f8d7da;
  color: #721c24;
  text-align: center;
  border: 1px solid transparent;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
}
// ここまで

header {
    height: 90px;
}

.nav > li > a {
    padding: 5px, 0;
    margin: 20px;
}

.navbar-default {
    background-color: #cee4ae;
    border-color: #FFFFFF;
}

.container-fluid {
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav > a {
    color: #000000;
    font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar-default .navbar-nav > a:hover{
    color: #b4866b;
}
 
.navbar-default .navbar-nav > li > a {
    color: #b4866b;
    font-weight: bolder;
    border-left: 1px solid;
    border-color: #c0c0c0;
}

.navbar-left {
    margin: 20px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Hiragino Maru Gothic ProN W4;
}

#footer {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.row {
    margin: 20px;
}

.titlebar {
    color: #513743;
    border-bottom: 2px dotted;
    border-color: #808080;
}

.profile-picture {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
}

p.profile-introduction {
    font-weight: bolder;
}

.introduction-area {
    margin-bottom: 10px;
}

// ページネーション自体のデザイン
.pagination > li > a {
  border: none;     /*枠線をなくす*/
  color: #513743;   /*文字の色を変える*/
  justify-content: center;
}

// 表示しているページ番号のデザイン
.pagination > .active > a {     
  background: #b4866b;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

// ホバー時のデザイン
.pagination > li > a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

// カルーセルの高さの最小値を設定
.carousel {
  height: 200px;
  margin:auto;
}

// itenの高さ設定により画像表示行きの高さを固定
.carousel .item {
  height: 100%;
}

// 画像の位置を固定
.carousel img {
  position: absolute;
  width: 100%;
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  }
}

.main-visual {
  padding: 20px;
  width: 100%;
  height: 350px;
}

.main-visual-content {
  width: 100%;
  height: 300px;
  text-align: center;
}

.main-visual-about {
  font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
  font-size: 20px;
  font-weight: bolder;
}

.main {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.main-label {
  font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}

.td {
  text-align: center;
  vertical-align: middle;
  padding: 0;
}


