// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plf-img {
  margin: 10px;
}

.field > label {
  text-align: left;
  display: inline-block;
}

.required {
  background-color: #CD2553;
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
}
.quit-message {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.guest-login-link {
    font-size: 20px;
}

.user-show-link {
  width: 100%;
  text-align: right;
}

.user-login-link {
  width: 100%;
  text-align: right;
}

.user-box {
  margin: 10px;
  padding: 5px;
  border: 2px solid;
  border-color: #f5faed;
  background-color: #fcfcfa;
  border-radius: 30px;
  box-shadow: 4px 4px 8px #b4866b;
  display: flex;
}

.user-box-profile .user-box-more {
  padding: 10px;
  justify-content: center;
  text-align: center;
}